<div id="<%= dom_id order %>">
  <p>
    <strong>Product Name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= order.product_count %>
  </p>

  <p>
    <strong>Customer ID:</strong>
    <%= order.customer_id %>
  </p>

</div>
