<h1>Editing Order</h1>

<%= render "form", order: @order %>

<br>

<div>
<%= link_to "Show this Order", @order, class: "btn btn-primary" %>
<%= link_to 'Back to Orders', orders_path, class: "btn btn-primary" %>
</div>