

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order), class: "btn btn-primary" %> |
  <%= link_to "Back to orders", orders_path, class: "btn btn-primary" %>

  <%= button_to "Destroy this order", @order, method: :delete, data: { turbo_confirm: "Are you sure?"} %>
</div>